{% extends 'base.html.twig' %}

{% block title %}uTrains Blog
{% endblock %}


{% block stylesheet %}
	<style>
		.example-wrapper {
			float: right;
		}
	</style>
{% endblock %}


{% block body %}

	<hr>
	<a href="{{ app.request.headers.get('referer') }}">Go Back</a>


	{% if blogPost %}


		<table id="blogPosts" class="example-wrapper">

			<thead style="display: none"></thead>
			<tbody class="code">
				<tr>
					<td colspan="3">
						<h1>{{ blogPost.title }}</h1>
					</td>
				</tr>

				<tr>
					<td colspan="3">
						<p>
							{{ blogPost.body }}
						</p>
					</td>
				</tr>
				<tr>

					<td>On the:
						{{ blogPost.createdAt|date('Y:m:d H:i:s') }}</td>
					<td>Last Update:
						{{ blogPost.updatedAt|date('Y:m:d H:i:s')  }}</td>
					<td>by:
						{{ blogPost.author.name }}</td>

					{% if user.role == 'AUTHOR' %}
						<td>
							<a href="{{ path('edit_post', {id: blogPost.id}) }}">

								<i class="fas fa-pencil-alt text-secondary"></i>
							</a>
						</td>
						<td>
							<a href="#">
								<i data-id={{ blogPost.id }} class="fas fa-trash-alt red delete-post"></i>

							</a>
						</td>
					{% endif %}

				</tr>
			</tbody>
		</table>

		{% if user != null %}
			<div class="col-md-4">
				<form class="flex" action="{{ path('comment_post', {id: blogPost.id}) }}" method="post">
					<input class="form-control me-sm-2" type="text" name="body" id="" placeholder="Comment....">
					<button class="btn btn-primary my-2 my-sm-0  me-sm-2" type="submit">
						<i class="white my-2 mx-1 my-sm-0">Post</i>
					</button>
				</form>
			</div>
			<div>
				{% for comment in comments %}
					<table>
						<thead style="display: none;">
							<tr>
								<th>comment</th>
								<th>comment</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="6">{{ comment.body }}</td>
							</tr>
							<tr>
								<td colspan="1" ro>{{ comment.author.username }}</td>
								<td colspan="1">{{ comment.createdAt|date('Y:m:d H:i:s') }}</td>

							</tr>
						</tbody>
					</table>
				{% endfor %}
			</div>
		{% endif %}

	{% else %}
		<p>No articles to display</p>
	{% endif %}
{% endblock %}
{% block javascripts %}
	<script src="/js/main.js"></script>
{% endblock %}
